<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576192159637-addrvcmjtad1ai5dfubp6c5h9ac5r09m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576192159637-addrvcmjtad1ai5dfubp6c5h9ac5r09m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>576192159637-m4snqvs4nph011jqc37f09sa453nmist.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBDFw_FXUAYDTGK5exNHyDS0oztKXGGLJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>576192159637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naradmuni</string>
	<key>PROJECT_ID</key>
	<string>naradmuni-df299</string>
	<key>STORAGE_BUCKET</key>
	<string>naradmuni-df299.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576192159637:ios:72c12a57beba3e3578609c</string>
	<key>DATABASE_URL</key>
	<string>https://naradmuni-df299.firebaseio.com</string>
</dict>
</plist>